@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@using GoogleMapsApi.Entities.Directions.Response
@using Newtonsoft.Json.Linq

@model DirectionsResponse

@{
    ViewBag.Title = "Show Route";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @*<h2>Start Address: @Model.Routes.First().Legs.First().StartAddress</h2>
            <h2>End Address: @Model.Routes.First().Legs.First().EndAddress</h2>*@
            <hr>
            <div id="map" style="height: 400px;"></div>
        </div>
        <div class="col-md-6">
            <h2>Directions</h2>
            <ol>
                @*@foreach (var step in Model.Routes.First().Legs.SelectMany(l => l.Steps))
                {
                    <li>@Html.Raw(step.HtmlInstructions)</li>
                }*@
            </ol>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: { lat: @Model.Routes.First().Legs.First().StartLocation.Latitude, lng: @Model.Routes.First().Legs.First().StartLocation.Longitude }
            });

            var path = [];
        @foreach (var point in Model.Routes.First().OverviewPath.Points)
        {
            <text>path.push(new google.maps.LatLng(@point.Latitude, @point.Longitude));</text>
        }

            var polyline = new google.maps.Polyline({
                path: path,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            polyline.setMap(map);
        }

        $(function () {
            initMap();
        });
    </script>
}

